* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: whi;
}
html,
body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.name {
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid white;
}
.nav li {
  padding: 0 2%;
  display: inline;
}
.nav a {
  display: inline;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  background-color: rgba(0.3, 214, 217, 35);
}
.my-image {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.paragraph {
  text-align: center;
  font-size: 1.2em;
  color: rgb(12, 219, 185);
  font-weight: 200;
  font-family: cursive;
}
.work {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
