* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: rgb(216, 203, 192);
}
html,
body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/4646214/pexels-photo-4646214.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}
.name {
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid white;
}
.nav li {
  padding: 0 2%;
  display: inline;
}
.nav a {
  display: inline;
  padding: 0.5em;
  color: rgb(39, 228, 181);
  text-decoration: none;
}
.nav a:hover {
  background-color: rgb(74, 97, 99);
}
.my-image {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
h2 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(26, 192, 81);
  font-weight: 600;
  font-family: cursive;
}
.work {
  text-align: center;
  color: rgb(216, 203, 192);
  font-size: large;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.work ul {
  text-align: center;
}
.work li {
  display: inline;
  padding: 5%;
}
.logo {
  width: 50px;
}
.work a:hover {
  background-color: rgba(0.3, 66, 245, 126);
}
.footer {
  text-align: center;
  padding-top: 3.5em;
  color: aquamarine;
}
